@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-family: "Inter"; */
}

.horizontal-scroller::-webkit-scrollbar {
  display: none;
}

.card-scrollbar::-webkit-scrollbar {
  display: none;
}
